
/*---------------------------
  Master Styles
---------------------------*/

body {
  font-size: 1rem;
}

main {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

/*---------------------------
  App Styles
---------------------------*/

/* Title Styles */
.title {
  font-size: 1.5rem;
}

.underline {
  width: 15%;
  border: 2px solid #0099ff;
  margin: 0 auto;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}


/*---------------------------
  Review Styles
---------------------------*/
img {
  width: 8rem;
  height: 8rem;
  margin-top: 1rem;

  object-fit: cover;
  border-radius: 5rem;
}

.review {
  box-shadow: 0 0 1rem #ccc;
}

.author {
  text-transform: capitalize;
}

.job {
  color: #0099ff;
  text-transform: uppercase;
  margin-top: -1rem;
}

.info {
  width: 90%;

  margin: 0 auto;
}

.button_container {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}

.prev_btn {
  font-size: 1.2rem;
  color: #0099ff;
  background-color: #fff;
  border: none;
  outline: none;
}

.next_btn {
  font-size: 1.2rem;
  color: #0099ff;
  background-color: #fff;
  border: none;
  outline: none;
}

.random_btn {
  font-size: 1rem;
  color: #0099ff;
  border: none;
  outline: none;

  display: block;
  margin: 0.5rem auto;
}

.random_btn:hover {
  background-color: #bee5ff;
  border: 1px solid #acdeff;
}


