
/*---------------------------
  Master Styles
---------------------------*/

body {
  font-size: 1rem;
}

main {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

/*---------------------------
  App Styles
---------------------------*/

/* Title Styles */
.title {
  font-size: 1.5rem;
}

.underline {
  width: 50%;
  border: 1px solid blue;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

img {
  width: 8rem;
  height: 8rem;

  object-fit: cover;
  border-radius: 5rem;
}


